body{
    background-color: black;
    width:100%;
    height: 100%;
  
}
#botton1{
    font-size: 80%;
    width: 60%;
    padding: 1%;
    border-width: 2%;
    background-color: beige;
    color: blue;
    border-color: black;
    text-shadow: 2% 2% 2% 0%;
    text-decoration:solid;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.btn{
    color: black;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}
.carousel slide{
    width: 50%;
    height: 50%;
}
#shooter{
    text-align: center;
}

.valorant{
    color: white;
    width: 20%;
    padding: 10%;

  
}
.texto{ 
    
    text-align: center;
   
    width: 100%;

}
.call{
    width: 860px;
    
    padding: 10%;
}
 
    

.modern{
    
    padding: 10%;
    width: 20%;
    
}
#shooters-a{
    background-color: mediumblue;
}
#carrusel{
    text-align: center;
    width: 50%;
}


#carouselExampleInterval{
    padding: 17%;
    width: 1900px;
    text-align: center;
}


.datos-cof{
    background-color: blue;
    padding: 3%;
    width: 100%;
    text-align: center;
}
.codinformacion{
    background-color: blue;
}
.textoss{
    background-color: white;
    color: white;
}
