#aaaa{
    background: url(imagenes/fondo.jpg);
}
#textos1{
    text-align: center;
    color: white;
    padding: 3%;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.phone1{
    text-align: center;
    color: white;
    padding: 3%;

  
}

.phone2{
    text-align: center;
    color: white;
    padding: 3%;
}
 
    

.phone3{
    
    text-align: center;
    color: white;
    padding: 2%;
}

.text1{
    padding: 1%;
    color: white;
}
.dl{
    padding-left: 6px;
}
.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.boton1{
    padding: 1%;
    text-align: center;
}

#botton1{
    font-size: larger;
    width: 30%;
    padding: 1%;
    border-width: 2%;
    background-color: beige;
    color: blue;
    border-color: black;
    text-shadow: 2% 2% 2% 0%;
    text-decoration:solid;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.pie{
    padding: 0.3%;
    background-color: white;
}
.copi{
    text-align: center;
}
.contac{

    text-align: justify;
    width: 30%;
}
.marcas{

    width: 50%;
}